<div class="card" >
    <img [src]="producto.url" style="max-height: 200px; width: 100% ;" class="img-fluid mx-auto" alt="">
    <div class="card-body">
        <h5 class="card-title">{{producto.nombre}}</h5>
        <p class="card-text">Precio: ${{producto.precio}}</p>
        <p class="card-text">Unidades disponibles: {{producto.unidades}}</p>
        <div class="row">
            <div class="col-sm-5">

                <button (click)="enviarProducto.emit({prodDetalle:producto})" class=" btn btn-primary">ver mas</button>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-lg-7">
                        <button [disabled]='producto.bloqueo' class="btn btn-warning" (click)="agregarCarrito(numero.value)">Añadir</button>
                    </div>
                    <!-- <div class=""> -->
                        <input  [disabled]='producto.bloqueo' #numero value="1" min="1" [max]="tope" class="col-lg-5" style="padding-right: 0px" type="number" id="producto"  >
                    <!-- </div> -->
                </div>

            </div>
        </div>
    </div>
</div>